@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,500;0,600;1,400&display=swap');

html,
body {
    scroll-behavior: smooth;
    background-color: #29ABCA;

    padding: 0;
    margin: 0;

    font-family: 'K2D';
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* /scrollbar */

video {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h1 {
  font-size: 60px;
}

.text h3 {
  font-size: 30px;
}

.mySlides {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
}

.mySlides li {
  float: left;
  width: 20%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mySlides img {
  width: 100%;
}

.mySlides .prev, .mySlides .next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  cursor: pointer;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mySlides .prev:hover, .mySlides .next:hover {
  opacity: 1;
}

.mySlides .next {
  right: 0;
}

.active {
  opacity: 1;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 25px;
}

footer>p {
    color: #094b65;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}